body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  background-color: hsl(0, 10%, 20%, 0.4);
}

h1 {
  text-align: center;
  color: hsl(300, 80%, 80%, 0.5);
}
